/* title: Transparent bg and Nostalgic icons */
/* author: - Victor35436 */
/* icon: - */
/* description: - Nostalgic icons, actualy haves Instagram only. */
:root {
    --igIcon: url('https://purepng.com/public/uploads/large/21502363139brqka1urunxkb6fsykdwwbdsp41ilsn7kwdmaogpqzi3ja4m8ewca6aqx1hsluhgvvq2zhaxujjywzcnitprj0vcgrcheaj4srev.png');
}




*[title="Instagram"] .groove-element img, *[title="instagram"] .groove-element img {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0px !important;
    z-index: -99;
}

*[title="Instagram"] .groove-element.groove-app-tile-icon,
*[title="instagram"] .groove-element.groove-app-tile-icon,
*[title="Instagram"] .groove-element.groove-home-inner-tile,
*[title="instagram"] .groove-element.groove-home-inner-tile{
    background-image: var(--igIcon) !important; 
	background-repeat: no-repeat;
    background-size: contain !important;
    z-index:99;
}

div.groove-home-inner-tile {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"/>') !important;
    z-index: -1;
}
