/* title: Transparent bg and Nostalgic icons */
/* author: - Victor35436 */
/* icon: - */
/* description: - Nostalgic icons, actualy haves Instagram only. */
:root {
    /* Assets will be added here! */
}


*[title="Instagram"] .groove-element.groove-app-tile-icon img,
*[title="instagram"] .groove-element.groove-app-tile-icon img {
    display: none !important;
}

*[title="Instagram"] .groove-element.groove-app-tile-icon,
*[title="instagram"] .groove-element.groove-app-tile-icon{
    background: url('https://purepng.com/public/uploads/large/21502363139brqka1urunxkb6fsykdwwbdsp41ilsn7kwdmaogpqzi3ja4m8ewca6aqx1hsluhgvvq2zhaxujjywzcnitprj0vcgrcheaj4srev.png') no-repeat center center !important;
    background-size: contain !important;
}

*[title="Instagram"] .groove-element.groove-home-inner-tile img,
*[title="instagram"] .groove-element.groove-home-inner-tile img{
    display:none;
    opacity:0;
}

*[title="Instagram"] .groove-element.groove-home-inner-tile,
*[title="instagram"] .groove-element.groove-home-inner-tile{
    background: url('https://purepng.com/public/uploads/large/21502363139brqka1urunxkb6fsykdwwbdsp41ilsn7kwdmaogpqzi3ja4m8ewca6aqx1hsluhgvvq2zhaxujjywzcnitprj0vcgrcheaj4srev.png') no-repeat center center !important;
    background-size: contain !important;
}

#app {
    div.tile-list-page {
        div.groove-home-tile {
            div.groove-home-inner-tile {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"/>');
            }
        }
    }
}
